<?xml version="1.0" encoding="UTF-8"?>
<web-app
	xmlns:xsi="http://www.geeksforgeeks.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/context.xml</param-value>
	</init-param>
	<display-name>springmvc-view-resolver</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
  <servlet-name>FormController</servlet-name>
  <servlet-class>com.example.FormController</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>FormController</servlet-name>
  <url-pattern>/formAlumno</url-pattern>
</servlet-mapping>
	

</web-app>
	
	







